h6 {
  font-family: 'Roboto Slab' !important;
}

.mainContainer {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.mainPaper {
  padding: 1rem;
}

::-webkit-scrollbar {
  width: 10px;
  /* display: none; */
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #a09f9f; */
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(155, 59, 67);
  /* background: #3f51b5; */
  border-radius: 5px 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}